# Datatype Conversion

In [1]:
a,b=10,22.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [2]:
int(float(b))

22

In [3]:
str(int(a))

'10'

# Conditional Statments

In [4]:
a=10
b=4
if a<b:
    print(True)
else:
    print(False)

False

In [7]:
a=10
if a%2==0:
    print("Even")
else:
    print("odd")

Even

In [9]:
a=int(input("enter a value"))
if a%2==0:
    print("Even")
else:
    print("Odd")

enter a value5
Odd

# Greater Number

In [11]:
a = int(input("Enter a Number"))
b = int(input("Enter b Number"))
c = int(input("Enter c Number"))
if a>b and a>c:
    print("a is largest")
elif b>a and b>c:
    print("b is largest")
else:
    print("c is largest")

Enter a Number3
Enter b Number5
Enter c Number2
b is largest

# Leap Year

In [16]:
a = int(input("Enter a Year"))
if (a%4==0 or a%400==0) and a%100!=0:
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a Year2019
Not a Leap Year

# Loops:

## for loop

 ### syntax 
 - for i in range(ini,ter,inc)
    
    
    - ini: initialization
    - ter: termination
    - inc: increment

In [13]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [12]:
for i in range(0,50,3):
     print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [14]:
y = int(input("enter a year"))
x = y-50
for year in range(x,y+1):
    if year%400==0 or (year%4==0 and year%100!=0):
        print(year)

enter a year2020
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020